<script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
{% load static %}
<nav>
    <div class="flex border border-black">

        <img src="{% static 'Auto1.png' %}" alt="Auto"
             class="h-[70px] border active:border-[5px]
             border-b-0
             border-l-0
             border-t-0
             active:border-t-0
             active:border-l-0

             ">
        <div class="flex border pl-4 pt-5 pr-4
             active:border-[5px]
             border-b-0
             border-l-0
             border-t-0
             active:border-t-0
             active:border-l-0

             font-bold">
            Upload File   +
        </div>

        <div class="flex border pl-4 pt-5 pr-4
             border-b-0
             border-l-0
             border-t-0
             border-r-0
             font-bold">
            File Name:File1.txt

        </div>
        <div class="flex border pl-4 pt-5 pr-4
             border-b-0
             border-l-0
             border-t-0
             border-r-0
             font-bold">
            File Sizes:2400MB

        </div>
        <div class="flex border pl-4 pt-4 pr-4 ml-auto
             active:border-[5px]
             border-b-0
             border-t-0
             active:border-t-0
             active:border-l-1

             font-bold">
            <?xml version="1.0" encoding="utf-8" ?>
            <!-- Uploaded to: SVG Repo, www.svgrepo.com, Generator: SVG Repo Mixer Tools -->
            <svg class="h-[40px]"
                 width="50px" height="50px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M5 12H20" stroke="#000000" stroke-width="2" stroke-linecap="round" />
                <path d="M5 17H20" stroke="#000000" stroke-width="2" stroke-linecap="round" />
                <path d="M5 7H20" stroke="#000000" stroke-width="2" stroke-linecap="round" />
            </svg>
        </div>





    </div>
</nav>